{% set page_title = 'Blank Page' %}
{% set header_image = bg_1 %}
{% set header_small = true %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">Blank Page</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mpl-box-md">
    <div class="container">
        <h2>Title</h2>
        <p class="mb-0">
            Start your new page here...
        </p>
    </div>
</div>
{% endblock %}
