{% set page_title = 'Component Tabs' %}

{% set header_image = bg_1 %}
{% set header_small = true %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">{{ page_title | replace('Component ', '') }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mpl-box-md">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a href="#bordered_home" class="nav-link active" aria-controls="bordered_home" role="tab" data-bs-toggle="tab" aria-selected="true">Home</a></li>
            <li role="presentation" class="nav-item"><a href="#bordered_profile" class="nav-link" aria-controls="bordered_profile" role="tab" data-bs-toggle="tab" aria-selected="false">Profile</a></li>
            <li role="presentation" class="nav-item"><a href="#bordered_messages" class="nav-link" aria-controls="bordered_messages" role="tab" data-bs-toggle="tab" aria-selected="false">Messages</a></li>
            <li role="presentation" class="nav-item"><a href="#bordered_settings" class="nav-link" aria-controls="bordered_settings" role="tab" data-bs-toggle="tab" aria-selected="false">Settings</a></li>
        </ul>

        <div class="tab-content tab-content-frame">
            <div role="tabpanel" class="tab-pane fade show active" id="bordered_home">
                <p class="mb-0">Blowfish librantur in se quatuor, quinquies maior quam normalis, et quare? Quare id faciam? Ut terrorem facit, qui quid. Terrent! Ut alter, scarier pisces agminis off. Et quod tu es? Vos blowfish. Tu iustus in omnibus visio.</p class="mb-0">
            </div>
            <div role="tabpanel" class="tab-pane fade" id="bordered_profile">
                <p class="mb-0">Nonne vides quid sit? Tu es ... Jesse me respice. Tu ... blowfish sunt. A blowfish! Cogitare. Statura pusillus, nec sapientium panem, nec artificum.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="bordered_messages">
                <p class="mb-0">Sed predators facile prædam blowfish secretum telum non se habet. Non ille? Quid faciam blowfish, Isai. Blowfish quid faciat? In blowfish inflat, purus?</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="bordered_settings">
                <p class="mb-0">Vides ... suus ' suus 'non aliud aerem. Nunc ... qui cum partibus blowfish Isai? Tu damnare ius. Vos blowfish. Dicere iterum. Dicere illam quasi velis eam. Es BLOWFISH!</p>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="mt-60">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a href="#home" class="nav-link active" aria-controls="home" role="tab" data-bs-toggle="tab" aria-selected="true">Home</a></li>
            <li role="presentation" class="nav-item"><a href="#profile" class="nav-link" aria-controls="profile" role="tab" data-bs-toggle="tab" aria-selected="false">Profile</a></li>
            <li role="presentation" class="nav-item"><a href="#messages" class="nav-link" aria-controls="messages" role="tab" data-bs-toggle="tab" aria-selected="false">Messages</a></li>
            <li role="presentation" class="nav-item"><a href="#settings" class="nav-link" aria-controls="settings" role="tab" data-bs-toggle="tab" aria-selected="false">Settings</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="home">
                <p class="mb-0">Blowfish librantur in se quatuor, quinquies maior quam normalis, et quare? Quare id faciam? Ut terrorem facit, qui quid. Terrent! Ut alter, scarier pisces agminis off. Et quod tu es? Vos blowfish. Tu iustus in omnibus visio.</p class="mb-0">
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
                <p class="mb-0">Nonne vides quid sit? Tu es ... Jesse me respice. Tu ... blowfish sunt. A blowfish! Cogitare. Statura pusillus, nec sapientium panem, nec artificum.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="messages">
                <p class="mb-0">Sed predators facile prædam blowfish secretum telum non se habet. Non ille? Quid faciam blowfish, Isai. Blowfish quid faciat? In blowfish inflat, purus?</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="settings">
                <p class="mb-0">Vides ... suus ' suus 'non aliud aerem. Nunc ... qui cum partibus blowfish Isai? Tu damnare ius. Vos blowfish. Dicere iterum. Dicere illam quasi velis eam. Es BLOWFISH!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
