{% set page_title = 'Component Accordion' %}

{% set header_image = bg_1 %}
{% set header_small = true %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">{{ page_title | replace('Component ', '') }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mpl-box-md">
    <div class="accordion mb-60" id="accordion" role="tablist" aria-multiselectable="true">
        <a class="collapse-toggle" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            One
        </a>
        <div id="collapseOne" class="collapse show" role="tabpanel" data-bs-parent="#accordion">
            <div class="collapse-content">
                <p class="mb-0">Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super omne oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor apparatus. Qui curis! Modo nobis certamen est, qui non credunt at.</p>
            </div>
        </div>
        <a class="collapse-toggle collapsed" data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Two
        </a>
        <div id="collapseTwo" class="collapse" role="tabpanel" data-bs-parent="#accordion">
            <div class="collapse-content">
                <p class="mb-0">Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super omne oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor apparatus. Qui curis! Modo nobis certamen est, qui non credunt at.</p class="mb-0">
            </div>
        </div>
        <a class="collapse-toggle collapsed" data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Three
        </a>
        <div id="collapseThree" class="collapse" role="tabpanel" data-bs-parent="#accordion">
            <div class="collapse-content">
                <p class="mb-0">Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super omne oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor apparatus. Qui curis! Modo nobis certamen est, qui non credunt at.</p>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionSm" role="tablist" aria-multiselectable="true">
        <a class="collapse-toggle collapse-toggle-md" data-bs-toggle="collapse" href="#collapseOneSm" aria-expanded="true" aria-controls="collapseOneSm">
            One
        </a>
        <div id="collapseOneSm" class="collapse show" role="tabpanel" data-bs-parent="#accordionSm">
            <div class="collapse-content">
                <p class="mb-0">Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super omne oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor apparatus. Qui curis! Modo nobis certamen est, qui non credunt at.</p>
            </div>
        </div>
        <a class="collapse-toggle collapse-toggle-md collapsed" data-bs-toggle="collapse" href="#collapseTwoSm" aria-expanded="false" aria-controls="collapseTwoSm">
            Two
        </a>
        <div id="collapseTwoSm" class="collapse" role="tabpanel" data-bs-parent="#accordionSm">
            <div class="collapse-content">
                <p class="mb-0">Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super omne oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor apparatus. Qui curis! Modo nobis certamen est, qui non credunt at.</p class="mb-0">
            </div>
        </div>
        <a class="collapse-toggle collapse-toggle-md collapsed" data-bs-toggle="collapse" href="#collapseThreeSm" aria-expanded="false" aria-controls="collapseThreeSm">
            Three
        </a>
        <div id="collapseThreeSm" class="collapse" role="tabpanel" data-bs-parent="#accordionSm">
            <div class="collapse-content">
                <p class="mb-0">Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super omne oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor apparatus. Qui curis! Modo nobis certamen est, qui non credunt at.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
