{% set page_title = 'Component Modal' %}

{% set header_image = bg_1 %}
{% set header_small = true %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">{{ page_title | replace('Component ', '') }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mpl-box-md">
    <button class="btn btn-md" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
        Launch demo modal
    </button>
</div>
{% endblock %}

{% block after_content %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    {{ icon(['M18 6L6 18M6 6L18 18']) }}
                </button>
            </div>
            <div class="modal-body">
                <p>Expectantes, et misit unum de pueris Gus interficere. Gus! Est, ante me factus singulis decem gradibus. Et nunc ad aliud opus mihi tandem tollendum est puer ille consensus et nunc fugit. Ipse suus obtinuit eam. Non solum autem illa, sed te tractantur in se trahens felis.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-brand">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modals -->
{% endblock %}
