{% set page_title = 'eSports Wolves' %}
{% set header_image = bg_3 %}
{% set header_small = 'true' %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">Wolves</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mpl-box-md">
    <div class="container">
        <div class="row hgap-lg vgap-lg">
            <div class="col-lg mpl-content single-team">
                <article class="mpl-post">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="esports-teams.html">Teams</a></li>
                            <li class="breadcrumb-item active" aria-current="page">eSports Wolves</li>
                        </ol>
                    </nav>

                    <div class="cyberpress-team">
                        <div class="cyberpress-team-thumbnail">
                            {{ img('esports/wolves_566x566.png') }}
                        </div>
                        <ul class="cyberpress-team-info">
                            <li>
                                <img src="assets/images/flags/ad.svg" alt="ad" class="cyberpress-flag-img">Andorra
                            </li>
                            <li>
                                <a href="#" class="cyberpress-game-inline-link">
                                    <img src="assets/images/esports/game-pubg.svg" alt="">PlayerUnknown’s Battlegrounds
                                </a>
                            </li>
                            <li>{{ icon(['M16 2V6M8 2V6M3 10H21M5 4H19C20.1046 4 21 4.89543 21 6V20C21 21.1046 20.1046 22 19 22H5C3.89543 22 3 21.1046 3 20V6C3 4.89543 3.89543 4 5 4Z']) }}June 25, 2019</li>
                            <li>
                                {{ icon(['M10 13C10.4295 13.5741 10.9774 14.0492 11.6066 14.3929C12.2358 14.7367 12.9315 14.9411 13.6467 14.9923C14.3618 15.0435 15.0796 14.9404 15.7514 14.6898C16.4231 14.4392 17.0331 14.0471 17.54 13.54L20.54 10.54C21.4508 9.59699 21.9548 8.33397 21.9434 7.02299C21.932 5.71201 21.4062 4.45794 20.4791 3.5309C19.5521 2.60386 18.298 2.07802 16.987 2.06663C15.676 2.05523 14.413 2.55921 13.47 3.47L11.75 5.18M14 11C13.5706 10.4259 13.0227 9.95081 12.3935 9.60706C11.7643 9.2633 11.0685 9.05888 10.3534 9.00766C9.63822 8.95645 8.92043 9.05963 8.24867 9.31021C7.57691 9.5608 6.9669 9.95293 6.46002 10.46L3.46002 13.46C2.54923 14.403 2.04525 15.666 2.05665 16.977C2.06804 18.288 2.59388 19.542 3.52092 20.4691C4.44796 21.3961 5.70203 21.922 7.01301 21.9334C8.32399 21.9448 9.58701 21.4408 10.53 20.53L12.24 18.82']) }}<a href="https://nkdev.info/">https://nkdev.info/</a>
                            </li>
                            <li>
                                {{ icon(['M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21M23 21V19C22.9993 18.1137 22.7044 17.2528 22.1614 16.5523C21.6184 15.8519 20.8581 15.3516 20 15.13M16 3.13C16.8604 3.3503 17.623 3.8507 18.1676 4.55231C18.7122 5.25392 19.0078 6.11683 19.0078 7.005C19.0078 7.89317 18.7122 8.75608 18.1676 9.45769C17.623 10.1593 16.8604 10.6597 16 10.88M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z']) }}2
                            </li>
                            <li>
                                <ul class="cyberpress-social">
                                    <li>
                                        <a class="cyberpress-social-youtube" href="https://www.youtube.com/user/saqibaz">
                                            {{ icon_fill(['M22.9023 6.37853C22.6406 5.37072 21.8695 4.577 20.8904 4.30764C19.1159 3.81818 12 3.81818 12 3.81818C12 3.81818 4.88415 3.81818 3.10953 4.30764C2.13048 4.57704 1.3594 5.37072 1.09769 6.37853C0.622192 8.20525 0.622192 12.0165 0.622192 12.0165C0.622192 12.0165 0.622192 15.8278 1.09769 17.6545C1.3594 18.6623 2.13048 19.423 3.10953 19.6924C4.88415 20.1818 12 20.1818 12 20.1818C12 20.1818 19.1158 20.1818 20.8904 19.6924C21.8695 19.423 22.6406 18.6623 22.9023 17.6545C23.3778 15.8278 23.3778 12.0165 23.3778 12.0165C23.3778 12.0165 23.3778 8.20525 22.9023 6.37853V6.37853ZM9.67269 15.4769V8.55617L15.6201 12.0166L9.67269 15.4769V15.4769Z']) }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cyberpress-social-twitch" href="https://www.twitch.tv/lirik">
                                            {{ icon_fill(['M18.3361 4.85016H16.5253V9.99234H18.3361V4.85016ZM13.3594 4.82812H11.5486V9.97266H13.3594V4.82812ZM5.6639 0L1.13953 4.28531V19.7147H6.56906V24L11.0939 19.7147H14.715L22.8605 12V0H5.6639ZM21.0502 11.1445L17.4305 14.572H13.8098L10.6411 17.572V14.572H6.56906V1.71469H21.0502V11.1445Z']) }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <p>Fourth very days was air years likeness which two sixth. Land gathered. Them years face night deep gathering behold third replenish place won’t you without after fourth a don’t may.</p>
                    <p>Cattle every for greater which all without greater give two man you’ll tree. Also beast behold and darkness was his deep him second winged earth lights doesn’t.</p>

                    <h2>Players</h2>
                    <table class="table mpl-table-responsive-sm cyberpress-table cyberpress-team-players">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nickname</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Gender</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cyberpress-table-item-image cyberpress-table-item-small">
                                    <a href="esports-single-player.html">
                                        <img src="assets/images/esports/player-garpy_76x76.jpg" alt="" class="cyberpress-team-players-thumb">
                                    </a>
                                </td>
                                <td class="cyberpress-table-item-nickname">
                                    <a href="esports-single-player.html">GaRpY</a>
                                </td>
                                <td data-title="Name">Garett Marshall</td>
                                <td data-title="Role">Lead</td>
                                <td data-title="Gender">Male</td>
                                <td data-title="Age">28</td>
                            </tr>
                            <tr>
                                <td class="cyberpress-table-item-image cyberpress-table-item-small">
                                    <a href="esports-single-player.html">
                                        <img src="assets/images/esports/player-bowman_76x76.jpg" alt="" class="cyberpress-team-players-thumb">
                                    </a>
                                </td>
                                <td class="cyberpress-table-item-nickname">
                                    <a href="esports-single-player.html">Bowman</a>
                                </td>
                                <td data-title="Name">Viggo Hanson</td>
                                <td data-title="Role">Player</td>
                                <td data-title="Gender">Male</td>
                                <td data-title="Age">27</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>

            <div class="col-auto-lg mpl-sidebar"{% if sr_widget %} {{ sr_widget }}{% endif %}>
                {{ widget_search() }}
                {{ widget_matches('Recent Matches') }}
                {{ widget_match('Next Match') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

