{% set page_title = 'eSports GaRpY' %}
{% set header_image = bg_3 %}
{% set header_small = 'true' %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">GaRpY</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mpl-box-md">
    <div class="container">
        <div class="row hgap-lg vgap-lg">
            <div class="col-lg mpl-content single-player">
                <article class="mpl-post">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="esports-players.html">Players</a></li>
                            <li class="breadcrumb-item active" aria-current="page">eSports GaRpY</li>
                        </ol>
                    </nav>

                    <div class="cyberpress-player">
                        <div class="cyberpress-player-thumbnail">
                            {{ img('esports/player-garpy_566x664.jpg') }}
                        </div>
                        <ul class="cyberpress-player-info">
                            <li>
                                {{ icon(['M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z']) }}Garett Marshall
                            </li>
                            <li>
                                <img src="assets/images/flags/gb.svg" alt="gb" class="cyberpress-flag-img">United Kingdom
                            </li>
                            <li>
                                {{ icon(['M16 21V19C16 17.9391 15.5786 16.9217 14.8284 16.1716C14.0783 15.4214 13.0609 15 12 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21M17 11L19 13L23 9M12.5 7C12.5 9.20914 10.7091 11 8.5 11C6.29086 11 4.5 9.20914 4.5 7C4.5 4.79086 6.29086 3 8.5 3C10.7091 3 12.5 4.79086 12.5 7Z']) }}28 years old
                            </li>
                            <li>
                                {{ icon(['M8 14C8 14 9.5 16 12 16C14.5 16 16 14 16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z', 'M9 9H9.01', 'M15 9H15.01']) }}Male
                            </li>
                            <li>
                                {{ icon(['M10 13C10.4295 13.5741 10.9774 14.0492 11.6066 14.3929C12.2358 14.7367 12.9315 14.9411 13.6467 14.9923C14.3618 15.0435 15.0796 14.9404 15.7514 14.6898C16.4231 14.4392 17.0331 14.0471 17.54 13.54L20.54 10.54C21.4508 9.59699 21.9548 8.33397 21.9434 7.02299C21.932 5.71201 21.4062 4.45794 20.4791 3.5309C19.5521 2.60386 18.298 2.07802 16.987 2.06663C15.676 2.05523 14.413 2.55921 13.47 3.47L11.75 5.18M14 11C13.5706 10.4259 13.0227 9.95081 12.3935 9.60706C11.7643 9.2633 11.0685 9.05888 10.3534 9.00766C9.63822 8.95645 8.92043 9.05963 8.24867 9.31021C7.57691 9.5608 6.9669 9.95293 6.46002 10.46L3.46002 13.46C2.54923 14.403 2.04525 15.666 2.05665 16.977C2.06804 18.288 2.59388 19.542 3.52092 20.4691C4.44796 21.3961 5.70203 21.922 7.01301 21.9334C8.32399 21.9448 9.58701 21.4408 10.53 20.53L12.24 18.82']) }}<a href="https://nkdev.info/">https://nkdev.info/</a>
                            </li>
                            <li>
                                <ul class="cyberpress-social">
                                    <li>
                                        <a class="cyberpress-social-youtube" href="https://www.youtube.com/user/saqibaz">
                                            {{ icon_fill(['M22.9023 6.37853C22.6406 5.37072 21.8695 4.577 20.8904 4.30764C19.1159 3.81818 12 3.81818 12 3.81818C12 3.81818 4.88415 3.81818 3.10953 4.30764C2.13048 4.57704 1.3594 5.37072 1.09769 6.37853C0.622192 8.20525 0.622192 12.0165 0.622192 12.0165C0.622192 12.0165 0.622192 15.8278 1.09769 17.6545C1.3594 18.6623 2.13048 19.423 3.10953 19.6924C4.88415 20.1818 12 20.1818 12 20.1818C12 20.1818 19.1158 20.1818 20.8904 19.6924C21.8695 19.423 22.6406 18.6623 22.9023 17.6545C23.3778 15.8278 23.3778 12.0165 23.3778 12.0165C23.3778 12.0165 23.3778 8.20525 22.9023 6.37853V6.37853ZM9.67269 15.4769V8.55617L15.6201 12.0166L9.67269 15.4769V15.4769Z']) }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cyberpress-social-twitch" href="https://www.twitch.tv/lirik">
                                            {{ icon_fill(['M18.3361 4.85016H16.5253V9.99234H18.3361V4.85016ZM13.3594 4.82812H11.5486V9.97266H13.3594V4.82812ZM5.6639 0L1.13953 4.28531V19.7147H6.56906V24L11.0939 19.7147H14.715L22.8605 12V0H5.6639ZM21.0502 11.1445L17.4305 14.572H13.8098L10.6411 17.572V14.572H6.56906V1.71469H21.0502V11.1445Z']) }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <p>Winged subdue fifth void you Face female the. Shall also saying creeping you’re light open two land. Also moved him creature our i light was earth called fish saw itself can’t gathered fish moveth Air all may. All him. Above, won’t. Were their grass fowl greater brought cattle isn’t thing.</p>

                    <h2>Games</h2>
                    <table class="table mpl-table-responsive-sm cyberpress-table cyberpress-player-games">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Game</th>
                                <th>Nickname</th>
                                <th>Statistics</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cyberpress-table-item-image cyberpress-table-item-small">
                                    <a href="#">
                                        <img src="assets/images/esports/game-fifa.svg" alt="" class="cyberpress-team-games-thumb">
                                    </a>
                                </td>
                                <td class="cyberpress-table-item-game">
                                    <a href="#">Fifa 20</a>
                                </td>
                                <td data-title="Nickname">Gar</td>
                                <td class="cyberpress-table-item-statistics">
                                    <div class="cyberpress-progress-total">Total: 127</div>
                                    <div class="cyberpress-progress">
                                        <div class="cyberpress-progress-item bg-success" style="width: 61.5%;" title="61.5% (78)"></div>
                                        <div class="cyberpress-progress-item" style="width: 3.2%;" title="3.2% (4)"></div>
                                        <div class="cyberpress-progress-item bg-danger" style="width: 35.5%;" title="35.5% (45)"></div>
                                    </div>
                                    <div class="cyberpress-progress-labels">
                                        <div class="cyberpress-progress-label text-success" title="61.5% (78)">Wins</div>
                                        <div class="cyberpress-progress-label text-2" title="3.2% (4)">Draws</div>
                                        <div class="cyberpress-progress-label text-danger" title="35.5% (45)">Losses</div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="cyberpress-table-item-image cyberpress-table-item-small">
                                    <a href="#">
                                        <img src="assets/images/esports/game-quake.svg" alt="" class="cyberpress-team-games-thumb">
                                    </a>
                                </td>
                                <td class="cyberpress-table-item-game">
                                    <a href="#">Quake Champions</a>
                                </td>
                                <td data-title="Nickname">GaRpY</td>
                                <td class="cyberpress-table-item-statistics">
                                    <div class="cyberpress-progress-total">Total: 711</div>
                                    <div class="cyberpress-progress">
                                        <div class="cyberpress-progress-item bg-success" style="width: 60.8%;" title="60.8% (432)"></div>
                                        <div class="cyberpress-progress-item" style="width: 17.3%;" title="17.3% (123)"></div>
                                        <div class="cyberpress-progress-item bg-danger" style="width: 22%;" title="22% (156)"></div>
                                    </div>
                                    <div class="cyberpress-progress-labels">
                                        <div class="cyberpress-progress-label text-success" title="60.8% (432)">Wins</div>
                                        <div class="cyberpress-progress-label text-2" title="17.3% (123)">Draws</div>
                                        <div class="cyberpress-progress-label text-danger" title="22% (156)">Losses</div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="cyberpress-table-item-image cyberpress-table-item-small">
                                    <a href="#">
                                        <img src="assets/images/esports/game-overwatch.svg" alt="" class="cyberpress-team-games-thumb">
                                    </a>
                                </td>
                                <td class="cyberpress-table-item-game">
                                    <a href="#">Overwatch</a>
                                </td>
                                <td data-title="Nickname">Marshall GaRpY</td>
                                <td class="cyberpress-table-item-statistics">
                                    <div class="cyberpress-progress-total">Total: 59</div>
                                    <div class="cyberpress-progress">
                                        <div class="cyberpress-progress-item bg-success" style="width: 72.9%;" title="72.9% (43)"></div>
                                        <div class="cyberpress-progress-item" style="width: 6.8%;" title="6.8% (4)"></div>
                                        <div class="cyberpress-progress-item bg-danger" style="width: 20.4%;" title="20.4% (12)"></div>
                                    </div>
                                    <div class="cyberpress-progress-labels">
                                        <div class="cyberpress-progress-label text-success" title="72.9% (43)">Wins</div>
                                        <div class="cyberpress-progress-label text-2" title="6.8% (4)">Draws</div>
                                        <div class="cyberpress-progress-label text-danger" title="20.4% (12)">Losses</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Teams</h2>
                    <table class="table mpl-table-responsive-sm cyberpress-table cyberpress-player-team">
                        <tbody>
                            <tr>
                                <td class="cyberpress-table-item-image cyberpress-table-item-small">
                                    <a href="esports-single-team.html">
                                        <img src="assets/images/esports/player-garpy_76x76.jpg" alt="" class="cyberpress-player-team-thumb">
                                    </a>
                                </td>
                                <td class="cyberpress-table-item-game">
                                    <a href="esports-single-team.html">GaRpY</a>
                                    <div class="cyberpress-player-team-dates"> February 1, 2019 - July 3, 2019</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="cyberpress-table-item-image cyberpress-table-item-small">
                                    <a href="esports-single-team.html">
                                        <img src="assets/images/esports/wolves_120x120.png" alt="" class="cyberpress-player-team-thumb">
                                    </a>
                                </td>
                                <td class="cyberpress-table-item-game">
                                    <a href="esports-single-team.html">Wolves</a>
                                    <div class="cyberpress-player-team-dates">December 1, 2018 - To the present</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Twitch</h2>
                    <div class="cyberpress-twitch">
                        <div class="cyberpress-twitch-player">
                            <iframe src="https://player.twitch.tv/?channel=lirik" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
                        </div>
                        <div class="cyberpress-twitch-chat">
                            <iframe src="https://www.twitch.tv/embed/lirik/chat" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-auto-lg mpl-sidebar"{% if sr_widget %} {{ sr_widget }}{% endif %}>
                {{ widget_search() }}
                {{ widget_matches('Recent Matches') }}
                {{ widget_match('Next Match') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

