{% set page_title = 'eSports 2019 World Championship' %}
{% set header_image = bg_3 %}
{% set header_small = 'true' %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">2019 World Championship</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mpl-box-md">
    <div class="container">
        <div class="row hgap-lg vgap-lg">
            <div class="col-lg mpl-content single-tournament">
                <article class="mpl-post">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="esports-tournaments.html">Tournaments</a></li>
                            <li class="breadcrumb-item active" aria-current="page">eSports Tournament</li>
                        </ol>
                    </nav>

                    <div class="cyberpress-tournament">
                        <ul class="cyberpress-tournament-info">
                            <li>
                                {{ icon(['M16 2V6M8 2V6M3 10H21M5 4H19C20.1046 4 21 4.89543 21 6V20C21 21.1046 20.1046 22 19 22H5C3.89543 22 3 21.1046 3 20V6C3 4.89543 3.89543 4 5 4Z']) }}August 1, 2019 - October 29, 2019
                            </li>
                            <li>
                                <a href="#" class="cyberpress-game-inline-link">
                                    <img src="assets/images/esports/game-dota-2.svg" alt="">Dota 2
                                </a>
                            </li>
                            <li>
                                {{ icon(['M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z', 'M12 8V12', 'M12 16H12.01']) }}ESport Company
                            </li>
                            <li>
                                {{ icon(['M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z', 'M12 8V12', 'M12 16H12.01']) }}Grand Tournament
                            </li>
                            <li>{{ icon(['M20 12V22M20 12H12M20 12H22M20 22H4M20 22H12M4 22V12M4 22H12M4 12H12M4 12H2M2 7H22M2 7V12M2 7H7.5M22 7V12M22 7H12M22 7H16.5M22 12H12M2 12H12M12 22V12M12 7H7.5M12 7C12 7 11 2 7.5 2C6.83696 2 6.20107 2.26339 5.73223 2.73223C5.26339 3.20107 5 3.83696 5 4.5C5 5.16304 5.26339 5.79893 5.73223 6.26777C6.20107 6.73661 6.83696 7 7.5 7M12 7H16.5M12 7C12 7 13 2 16.5 2C17.163 2 17.7989 2.26339 18.2678 2.73223C18.7366 3.20107 19 3.83696 19 4.5C19 5.16304 18.7366 5.79893 18.2678 6.26777C17.7989 6.73661 17.163 7 16.5 7M12 7V12']) }}$75000</li>
                        </ul>
                    </div>

                    <p>Fifth, his dominion likeness forth sea forth i can’t fruitful third after won’t seasons signs so. Don’t subdue. So above first whales. Two moveth good cattle let be, seasons after seasons moving Sea day which, first sea.</p>
                    <p>Given be seas first dry that in together fifth the second seed, abundantly evening made moving blessed evening face. Waters shall shall place.</p>


                    <h2>Matches</h2>

                    <ul class="cyberpress-matchs-archive">
                        <li class="cyberpress-match">
                            <div class="cyberpress-match-participants">
                                <div class="cyberpress-match-participant">
                                    <div class="cyberpress-match-participant-thumbnail">
                                        <a href="esports-single-team.html">{{ img('esports/queend_300x300.png') }}</a>
                                    </div>
                                    <h2 class="cyberpress-match-participant-title h4">
                                        <a href="esports-single-team.html">
                                            Queend
                                            <img src="assets/images/flags/ch.svg" alt="ch" class="cyberpress-flag-img">
                                        </a>
                                    </h2>
                                </div>
                                <div class="cyberpress-match-participant-vs">
                                    <a href="esports-single-match.html">
                                        <span class="cyberpress-match-participant-time-start">January 15, 2021 4:00 pm</span>
                                        <span class="cyberpress-match-points h3">VS</span>
                                    </a>
                                </div>
                                <div class="cyberpress-match-participant">
                                    <div class="cyberpress-match-participant-thumbnail">
                                        <a href="esports-single-team.html">{{ img('esports/military-skull_300x300.png') }}</a>
                                    </div>
                                    <h2 class="cyberpress-match-participant-title h4">
                                        <a href="esports-single-team.html">
                                            Military Skull
                                            <img src="assets/images/flags/br.svg" alt="br" class="cyberpress-flag-img">
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <ul class="cyberpress-match-info">
                                <li>
                                    <a href="#" class="cyberpress-game-inline-link">
                                        <img src="assets/images/esports/game-dota-2.svg" class="attachment-medium size-medium" alt="" height="200" width="200">
                                        Dota 2
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="cyberpress-match">
                            <div class="cyberpress-match-participants">
                                <div class="cyberpress-match-participant">
                                    <div class="cyberpress-match-participant-thumbnail">
                                        <a href="esports-single-team.html">{{ img('esports/reaper_300x300.png') }}</a>
                                    </div>
                                    <h2 class="cyberpress-match-participant-title h4">
                                        <a href="esports-single-team.html">
                                            Reaper
                                            <img src="assets/images/flags/us.svg" alt="ch" class="cyberpress-flag-img">
                                        </a>
                                    </h2>
                                </div>
                                <div class="cyberpress-match-participant-vs">
                                    <a href="esports-single-match.html">
                                        <span class="cyberpress-match-participant-time-start">January 6, 2021 3:00 pm</span>
                                        <span class="cyberpress-match-points h3">11:10</span>
                                    </a>
                                </div>
                                <div class="cyberpress-match-participant">
                                    <div class="cyberpress-match-participant-thumbnail">
                                        <a href="esports-single-team.html">{{ img('esports/military-skull_300x300.png') }}</a>
                                    </div>
                                    <h2 class="cyberpress-match-participant-title h4">
                                        <a href="esports-single-team.html">
                                            Military Skull
                                            <img src="assets/images/flags/br.svg" alt="br" class="cyberpress-flag-img">
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <ul class="cyberpress-match-info">
                                <li>
                                    <a href="#" class="cyberpress-game-inline-link">
                                        <img src="assets/images/esports/game-dota-2.svg" class="attachment-medium size-medium" alt="" height="200" width="200">
                                        Dota 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <h2>Videos</h2>
                    <div class="row vgap">
                        <div class="col-12 col-md-6">
                            <div class="cyberpress-video">
                                <iframe title="Lirik Plays DayZ | Episode 2 - Comradery" src="https://www.youtube.com/embed/nEcAQT9s_2w?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="cyberpress-video">
                                <iframe title="Lirik Stream Highlights #112 - DayZ Is Back" src="https://www.youtube.com/embed/O4xXsjhBZeg?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>


                    <h2>Screenshots</h2>
                    <div class="row vgap">
                        <div class="col-md-6">
                            <a class="mpl-gallery-item" href="assets/images/dark/game-bloodborne-1920x1151.jpg" data-fancybox="gallery" data-animation-effect="fade">
                                {{ img('dark/game-bloodborne-500x375.jpg') }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize icon"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="mpl-gallery-item" href="assets/images/dark/game-bloodborne-4-1920x1080.jpg" data-fancybox="gallery" data-animation-effect="fade">
                                {{ img('dark/game-bloodborne-4-500x375.jpg') }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize icon"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="mpl-gallery-item" href="assets/images/dark/game-bloodborne-5-1920x1080.jpg" data-fancybox="gallery" data-animation-effect="fade">
                                {{ img('dark/game-bloodborne-5-500x375.jpg') }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize icon"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="mpl-gallery-item" href="assets/images/dark/game-bloodborne-2-1920x1080.jpg" data-fancybox="gallery" data-animation-effect="fade">
                                {{ img('dark/game-bloodborne-2-500x375.jpg') }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize icon"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="mpl-gallery-item" href="assets/images/dark/game-bloodborne-3-1920x1080.jpg" data-fancybox="gallery" data-animation-effect="fade">
                                {{ img('dark/game-bloodborne-3-500x375.jpg') }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize icon"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="mpl-gallery-item" href="assets/images/dark/game-bloodborne-6-1920x1080.jpg" data-fancybox="gallery" data-animation-effect="fade">
                                {{ img('dark/game-bloodborne-6-500x375.jpg') }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize icon"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
                            </a>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-auto-lg mpl-sidebar"{% if sr_widget %} {{ sr_widget }}{% endif %}>
                {{ widget_search() }}
                {{ widget_matches('Recent Matches') }}
                {{ widget_match('Next Match') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

