{% set page_title = 'eSports Teams' %}
{% set header_image = bg_3 %}
{% set header_small = 'true' %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">Teams</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mpl-box-md">
    <div class="container">
        <div class="row hgap-lg vgap-lg">
            <div class="col-lg mpl-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">eSports Teams</li>
                    </ol>
                </nav>

                <div class="row hgap-md vgap-md" data-sr="teams" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="20">
                    <div class="col-12 col-lg-6" data-sr-item="teams">
                        <div class="cyberpress-team">
                            <div class="cyberpress-team-thumbnail">
                                <a href="esports-single-team.html">{{ img('esports/wolves_566x566.png') }}</a>
                            </div>
                            <h2 class="cyberpress-team-title h4">
                                <a href="esports-single-team.html">Wolves</a>
                            </h2>
                            <ul class="cyberpress-team-info">
                                <li>
                                    <img src="assets/images/flags/us.svg" class="cyberpress-flag-img" alt="ad">Andorra
                                </li>
                                <li>{{ icon(['M16 2V6M8 2V6M3 10H21M5 4H19C20.1046 4 21 4.89543 21 6V20C21 21.1046 20.1046 22 19 22H5C3.89543 22 3 21.1046 3 20V6C3 4.89543 3.89543 4 5 4Z']) }}June 25, 2019</li>
                                <li>
                                    <a href="#" class="cyberpress-game-inline-link">
                                        <img src="assets/images/esports/game-pubg.svg" alt="">PlayerUnknown’s Battlegrounds
                                    </a>
                                </li>
                                <li>{{ icon(['M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21M23 21V19C22.9993 18.1137 22.7044 17.2528 22.1614 16.5523C21.6184 15.8519 20.8581 15.3516 20 15.13M16 3.13C16.8604 3.3503 17.623 3.8507 18.1676 4.55231C18.7122 5.25392 19.0078 6.11683 19.0078 7.005C19.0078 7.89317 18.7122 8.75608 18.1676 9.45769C17.623 10.1593 16.8604 10.6597 16 10.88M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z']) }}2</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6" data-sr-item="teams">
                        <div class="cyberpress-team">
                            <div class="cyberpress-team-thumbnail">
                                <a href="esports-single-team.html">{{ img('esports/reaper_566x566.png') }}</a>
                            </div>
                            <h2 class="cyberpress-team-title h4">
                                <a href="esports-single-team.html">Reaper</a>
                            </h2>
                            <ul class="cyberpress-team-info">
                                <li>
                                    <img src="assets/images/flags/us.svg" class="cyberpress-flag-img" alt="us">United States
                                </li>
                                <li>{{ icon(['M16 2V6M8 2V6M3 10H21M5 4H19C20.1046 4 21 4.89543 21 6V20C21 21.1046 20.1046 22 19 22H5C3.89543 22 3 21.1046 3 20V6C3 4.89543 3.89543 4 5 4Z']) }}August 21, 2018</li>
                                <li>
                                    <a href="#" class="cyberpress-game-inline-link">
                                        <img src="assets/images/esports/game-lol.svg" alt="">League of Legends
                                    </a>
                                </li>
                                <li>{{ icon(['M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21M23 21V19C22.9993 18.1137 22.7044 17.2528 22.1614 16.5523C21.6184 15.8519 20.8581 15.3516 20 15.13M16 3.13C16.8604 3.3503 17.623 3.8507 18.1676 4.55231C18.7122 5.25392 19.0078 6.11683 19.0078 7.005C19.0078 7.89317 18.7122 8.75608 18.1676 9.45769C17.623 10.1593 16.8604 10.6597 16 10.88M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z']) }}1</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto-lg mpl-sidebar"{% if sr_widget %} {{ sr_widget }}{% endif %}>
                {{ widget_search() }}
                {{ widget_matches('Recent Matches') }}
                {{ widget_match('Next Match') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

