{% set page_title = 'Single Topic' %}
{% set header_image = bg_1 %}
{% set header_small = true %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        <h1 class="display-1 mb-0">Single Topic</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mpl-box-md">
    <div class="container">
        <div class="row hgap-lg vgap-lg">
            <div class="col-lg mpl-content">
                <nav class="mb-60" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="forums.html">Forums</a></li>
                        <li class="breadcrumb-item"><a href="forums-topics.html">Games</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Single Topic</li>
                    </ol>
                </nav>

                <ul class="mpl-forum mpl-forum-topic">
                    <li>
                        <div class="mpl-forum-topic-author">
                            {{ img(user_1.img) }}
                            <div class="mpl-forum-topic-author-name h5" title="{{ user_1.name }}">
                                <a href="#">{{ user_1.name }}</a>
                            </div>
                            <div class="mpl-forum-topic-author-role">Keymaster</div>
                        </div>
                        <div class="mpl-forum-topic-content">
                            <p>Suspicio? Bene ... tunc ibimus? Quis uh ... CONEXUS locus his diebus? Quisque semper aliquid videtur, in volutpat mauris. Nolo enim dicere. Vobis neque ab aliis. Ego feci memetipsum explicans. Gus mortuus est. Lorem opus habeo.</p>
                            <p>Jackson Isai? Tu quoque ... A te quidem a ante. Vos scitis quod blinking res Ive 'been vocans super vos? Et conteram illud, et conteram hoc. Maledicant druggie excors. Iam hoc tu facere conatus sum ad te in omni tempore?</p>

                            <div class="mpl-forum-topic-attachments">
                                <a href="#">monsterplay-free.zip</a>
                                <br>
                                (14.86 MiB) Downloaded 185 times
                            </div>
                        </div>
                        <div class="mpl-forum-topic-footer">
                            <span class="mpl-forum-topic-date">29th January 2021 at 11:36 am</span>

                            <span class="mpl-forum-action-btn">
                                <a href="#">Edit</a>
                            </span>
                            <span class="mpl-forum-action-btn">
                                <a href="#">Close</a>
                            </span>
                            <span class="mpl-forum-action-btn">
                                <a href="#">Stick</a>
                            </span>
                            <span class="mpl-forum-action-btn">
                                <a href="#">Merge</a>
                            </span>
                            <span class="mpl-forum-action-btn">
                                <a href="#">Trash</a>
                            </span>
                            <span class="mpl-forum-action-btn">
                                <a href="#">Spam</a>
                            </span>
                            <span class="mpl-forum-action-btn">
                                <a href="#">Reply</a>
                            </span>
                        </div>
                    </li>
                </ul>

                <p class="mt-40">Viewing 1 post (of 1 total)</p>
            </div>

            <div class="col-auto-lg mpl-sidebar"{% if sr_widget %} {{ sr_widget }}{% endif %}>
                {{ widget_search() }}
                {{ widget_categories('Categories', [['All', '#'], ['Audio', '#'], ['Photo', '#'], ['Video', '#'], ['Controllers', '#']]) }}
                {{ widget_products('Popular Products') }}
                {{ widget_instagram('Instagram') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
