
.mpl-box-sm {
    background-color: #000;
    height: 200px;
}

@media (max-width: 768px) {
  .mpl-box-sm {
    height: 50px;
  }
}

.mpl-carousel {
    flex-direction: row;
}


.mpl-carousel-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mpl-carousel img {
    display: block;
    max-width: 100%;
    max-height: 400px;
    height: auto;
    filter: brightness(0) invert(1);
    margin-right: 80px;
  }
  @media only screen and (max-width: 767px) {
    .mpl-carousel img {
      margin-right: 10px;
    }
  }
  
  
.logo1 {
    position: relative;
    top: -25px;
    width: 200px;
    height: 300px;
}

.logo2 {
    position: relative;
    top: -55px;
    left: -20px;
    width: 90px;
    height: 80px;
}

.logo3 {
    position: relative;
    top: -55px;
    left: 10px;
    width: 120px;
    height: 80px;
}

.logo4 {
    position: relative;
    top: -55px;
    left: 10px;
    width: 120px;
    height: 80px;
}

.logo5 {
    position: relative;
    top: -55px;
    left: 45px;
    width: 90px;
    height: 80px;

}

@media (max-width: 767px) {
  .logo1 {
    position:relative;
    top: -40px;
    left:-30px;
    width: 100px;
    height: 225px;
  }

  .logo2 {
    top: -55px;
    left: -30px;
    width: 45px;
    height: 63px;
  }

  .logo3 {
    top: -55px;
    left: -10px;
    width: 55px;
    height: 63px;
  }

  .logo4 {
    top: -55px;
    left: -5px;
    width: 55px;
    height: 63px;
  }

  .logo5 {
    top: -55px;
    left: 10px;
    width: 40px;
    height: 63px;
  }
}