/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    filter: brightness(0) invert(1);
  }
  
  /* mpl-carousel */
  .mpl-carousel {
    position: relative;
  }
  .mpl-carousel .swiper-button-prev,
  .mpl-carousel .swiper-button-next {
    width: 44px;
    height: 44px;
    color: #fff;
    background-color: #212421;
    border-radius: 100%;
    transition: background-color 0.2s ease-in-out;
  }
  .mpl-carousel .swiper-button-prev:hover,
  .mpl-carousel .swiper-button-prev:focus,
  .mpl-carousel .swiper-button-next:hover,
  .mpl-carousel .swiper-button-next:focus {
    background-color: #2a2d2a;
  }
  .mpl-carousel .swiper-button-prev:focus,
  .mpl-carousel .swiper-button-next:focus {
    outline: none;
  }
  .mpl-carousel .swiper-button-prev:active:not(:disabled):not(.disabled),
  .mpl-carousel .swiper-button-next:active:not(:disabled):not(.disabled) {
    background-color: #2e312e;
  }
  .mpl-carousel .swiper-button-prev {
    left: -22px;
  }
  .mpl-carousel .swiper-button-next {
    right: -22px;
  }
  .mpl-carousel .swiper-scrollbar {
    position: static;
    width: 100%;
    margin-top: 6px;
    color: #191b19;
    background-color: transparent;
    transition: color 0.2s ease-in-out;
  }
  .mpl-carousel .swiper-scrollbar-drag {
    background-color: currentcolor;
  }
  .mpl-carousel:hover .swiper-scrollbar {
    color: #212421;
  }
  

.mpl-box-sm {
    background-color: #000;
    height: 200px;
}

.mpl-carousel {
    flex-direction: row;
}


.mpl-carousel-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mpl-carousel img {
    display: block;
    max-width: 100%;
    max-height: 400px;
    height: auto;
    filter: brightness(0) invert(1);
    margin-right: 80px;
  }
  
  
.logo1 {
    position: relative;
    top: -25px;
    width: 200px;
    height: 300px;
}

.logo2 {
    position: relative;
    top: -55px;
    left: -20px;
    width: 90px;
    height: 80px;
}

.logo3 {
    position: relative;
    top: -55px;
    left: 10px;
    width: 120px;
    height: 80px;
}

.logo4 {
    position: relative;
    top: -55px;
    left: 10px;
    width: 120px;
    height: 80px;
}

.logo5 {
    position: relative;
    top: -55px;
    left: 45px;
    width: 90px;
    height: 80px;

}