.mpl-footer {
    position: relative;
    right: 320px;
    width: 1908px;
    height: 100vh;
}

@media (max-width: 991px) {
    .mpl-footer {
        right: 160px;
        width: 960px;
    }
}

@media (max-width: 767px) {
    .mpl-footer {
        right: 90px;
        width: 680px;
    }
}

@media (max-width: 575px) {
    .mpl-footer {
        right: 10px;
        width: 480px;
    }
}

@media (max-width: 400px) {
  .mpl-footer {
      right: 20px;
      width: 380px;
      overflow-x: hidden;
  }
}

.mpl-social {
    display: block;
    color: #fff;
    text-align: center;

}

.mpl-social:hover,
.mpl-social:focus {
    color: #fff;
}

.mpl-social:hover .mpl-social-icon,
.mpl-social:focus .mpl-social-icon {
    background-color: #161816;
}



.mpl-social-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 30px;
    width: 100px;
    height: 100px;
    top: 180px;
    font-size: 34px;
    background-color: rgba(22, 24, 22, 0.9);
    border-radius: 5px;

}


.mpl-social-name {
    position: relative;
    display: block;
    top: 190px;
    margin-bottom: 0;
    line-height: 1.3333333333;
}

.mpl-social-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 30px;
    width: 100px;
    height: 100px;
    top: 180px;
    font-size: 34px;
    background-color: rgba(22, 24, 22, 0.9);
    border-radius: 5px;
}




@media screen and (max-width: 1200px) {
    .mpl-social-name {
      top: 100px;
      left:-150px;
    }
    
    .mpl-social-icon {
      top: 100px;
      left:-150px;
      width: 80px;
      height: 80px;
      padding: 20px;
      font-size: 24px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .mpl-social-name {
      top: 50px;
      left:-20px;
    }
    
    .mpl-social-icon {
      top: 40px;
      width: 80px;
      height: 80px;
      padding: 15px;
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .mpl-social-name {
      top: 50px;
      left:-10px;
    }
  
    .mpl-social-icon {
      top: 50px;
      left: -5px;
      font-size: 24px;
      width: 80px;
      height: 80px;
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .mpl-social-name {
      top: -50px;
    }
  
    .mpl-social-icon {
      top: -50px;
      left: 50px;
      font-size: 24px;
      width: 80px;
      height: 80px;
      padding: 20px;
    }
  }

  @media screen and (max-width: 400px) {
    .mpl-social-name {
      top: -50px;
    }
  
    .mpl-social-icon {
      top: -50px;
      left: 20px;
      font-size: 24px;
      width: 80px;
      height: 80px;
      padding: 20px;
    }
  }
  





.mpl-social-icon .icon {
    position: absolute;
    width: 34px;
    height: 34px;
}

.mpl-social-icon::after {
    content: "";
    display: block;
    padding-top: 80%;
}

.mpl-image-icon {
    width: 34px;
    height: 34px;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
}