{% set main_style_file = 'monsterplay-studio' %}
{% set logo = 'assets/images/logo-studio.svg' %}
{% set nav_social = true %}
{% set nav_search = false %}
{% set nav_cart = false %}
{% set nav_login = false %}

{% set navigation_right = false %}
{% set navigation = {
    "studio-index.html": {
        "name": "Demos",
        "sub": {
            "dark-index.html": {
                "name": "Main"
            },
            "shooter-index.html": {
                "name": "Shooter"
            },
            "gamer-index.html": {
                "name": "Gamer"
            },
            "studio-index.html": {
                "name": "Studio"
            }
        }
    },
    "studio-index.html#our-works": {
        "name": "Our Works"
    }
} %}

{% extends 'layouts/layout-1.html' %}
