<div class="container" data-sr data-sr-duration="1000" data-sr-distance="20">
    <ul class="mpl-user-navigation mpl-carousel" data-gap="0" data-slides="auto">
        {% for file, item in user_navigation %}
            <li {% if isActiveMenuItem(file, item, filename) %} class="{{ 'active' if isActiveMenuItem(file, item, filename) }}"{% endif %}>
                <a href="{{ file | safe }}">
                    {{ item.name | safe -}}
                    {%- if item.badge %}<span class="badge badge-brand">{{ item.badge | safe }}</span>{% endif %}
                </a>
            </li>
        {%- endfor %}
    </ul>
</div>
